/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * LineNumberOne implementation : © David Felcan dfelcan@gmail.com, Stefan van der Heijden axecrazy@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * linenumberone.css
 *
 * LineNumberOne stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (linenumberone_linenumberone.tpl), and to HTML elements you create dynamically
    (in linenumberone.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

#wrapper {
  margin: auto;
}
#board {
  /* border: 5px solid red; */
  width: 1491px;
  height: 1491px;
  background-image: url("img/gameboard.jpg");

  overflow: hidden;
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
}
.stops {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0);
  position: absolute;
  z-index: 4 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  pointer-events: none;
}
.noclick {
  pointer-events: none;
}
/* .route {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0);
  position: absolute;
} */
.direction {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
}
.track {
  width: 100px;
  height: 100px;
  background-image: url("img/tracks.png");
  /* //  position: relative;
  //  z-index: 3;
  //  transform-origin: 50px 50px; */
}
.trackselected {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px white solid;
}
.trackholder {
  display: block;
}
.playertrack {
  /* width: 50px;
  height: 50px;
  background-size: 600px 50px; */
  display: inline-block;
  transform: rotate(0deg);
}
.linenum {
  width: 51px;
  height: 51px;
  background-image: url("img/start.png");
  margin: 2px;
  display: none;
}
.linenum_completed {
  border: 4px solid #398904;
}
.selectable_train_start_location {
  border: 4px solid #398904;
  z-index: 1000;
}
.selectable_tile {
  border: 4px solid #398904;
  z-index: 2;
  margin-top: -4px;
  margin-left: -4px;
}

.train {
  width: 100px;
  height: 100px;
  background-image: url("img/trains.png");
  z-index: 4;
  pointer-events: none; /* don't accept click events */
  /* margin: 2px; */
}
.extra_actions {
  display: block;
}
.dice {
  left: calc(50% - 200px);
  width: 400px;
  height: 100px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: none;
}
.die {
  width: 80px;
  height: 80px;
  background-image: url("img/die.png");
  border: 4px solid black;
  border-radius: 10%;
  margin-right: 10px;
  cursor: pointer;
  /* margin: 2px; */
}

.die_selected {
  border: 8px solid green;
  margin-top: 4px;
  margin-left: 4px;
}
.goalsholder {
  height: 50px;
  width: 100%;
  margin: 2px;
}
.goallocation {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 4px solid #398904;
  background-color: #fcdf00;
  outline: 2px solid #fcdf00;

  color: #398904;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin-right: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  display: inline-block;
}
.goalstart {
  position: absolute;
  top: 30px;
  left: 30px;
}
.goalreached {
  border: 4px solid #ff0000 !important;
}
.goalname {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 105px;
  overflow: hidden;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}
.stopOnRoute {
  border: solid 4px #fcdf00;
}

.shortestRouteButton {
  width: 175px;
  height: 30px;
  border-radius: 10%;
  border: 4px solid #398904;
  background-color: #fcdf00;
  color: #398904;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  margin-right: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  display: none;
}
.stop_W {
  position: absolute;
  top: 32px;
}
.stop_S {
  position: absolute;
  left: 32px;
}
.stop_N {
  position: absolute;
  left: 32px;
  top: 60px;
}
.stop_E {
  position: absolute;
  top: 32px;
  left: 65px;
}
.locationstop {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid red;
  background-color: white;
  color: red;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  margin-right: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
#place_card2 {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 12;
}

.option-border {
  border: 5px #ffffff solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation: blink 1;
  animation-iteration-count: 5;
}

.track_placement {
  border-width: 4px;
  border-style: solid;
  margin-top: -4px;
  margin-left: -4px;
  z-index: 100;
}

.track_placement2 {
  border-width: 4px;
  border-style: solid;
  margin-top: -4px;
  margin-left: -4px;
  z-index: 101;
}

.track_tile_back_animation {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-image: url("img/stack_counter_bg.jpg");
  z-index: 1000;
}

.route_line {
  border: 1px solid;
  height: 0px;
  position: absolute;
  z-index: 3;
}

.completed_msg {
  display: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff; /* Text color */
  background-color: #398904; /* Green background for completed task */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
  vertical-align: middle;
}

.container2 { /* container name is taken by some other css that I don't know about. This prevents namespace collision.*/
  display: inline-flex;
  align-items: center; /* Vertically centers the divs */
}

.stack_icon {
  display: inline-flex;
  float: right;
  position: relative;
}

.stack_count {
  display: flex;

  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
  color: black;

  font-weight: 700;
  height: 100%;
  width: 100%;

  justify-content: center; /* centers horizontally */
  align-items: center;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -105px;
  width: 100px;
  height: 100px;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  background-image: url("img/stack_counter_bg.jpg");
  z-index: 10;
  border: 2px solid black;
}

.highlight_ff0000 {margin-top: -2px; margin-left: -2px; z-index: 3; border: 2px dashed #ff0000;}
.highlight_008000 {margin-top: -2px; margin-left: -2px; z-index: 3; border: 2px dashed #008000;}
.highlight_0000ff {margin-top: -2px; margin-left: -2px; z-index: 3; border: 2px dashed #0000ff;}
.highlight_ffa500 {margin-top: -2px; margin-left: -2px; z-index: 3; border: 2px dashed #ffa500;}
.highlight_773300 {margin-top: -2px; margin-left: -2px; z-index: 3; border: 2px dashed #773300;}

#reset {
  margin-right: 20px;
}

@keyframes blink {
  50% {
    border-color: #0000ff;
  }
}
